/*** MAIN ***/
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.flexContainer {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position:relative;
}

/*** LEFT ***/
.selectable {
  background: black;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

#square {
  top: 436px;
  left: 326px;
  height: 96px;
  width: 96px;
}

#parallelogram {
  top: 413px;
  left: 892px;
  height: 103px;
  width: 204px;
  clip-path: polygon(0% 100%, 50% 0%, 100% 0%, 50% 100%);
}

#triangleSmall1 {
  top: 359px;
  left: 1038px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2 {
  top: 150px;
  left: 835px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddle {
  top: 432px;
  left: 58px;
  height: 96px;
  width: 192px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1 {
  top: 66px;
  left: 956px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2 {
  top: 107px;
  left: 145px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

/*** RIGHT ***/
.destination {
  background: Gainsboro;
  display: inline-flex;
  position: absolute;
}

#squareRight{
  top: 94px;
  left: 561px;
  height: 132px;
  width: 132px;
  clip-path: polygon(0% 64%, 64% 100%, 100% 37%, 37% 0%);
}

#parallelogramRight {
  top: 415px;
  left: 580px;
  height: 103px;
  width: 204px;
  clip-path: polygon(0% 100%, 50% 0%, 100% 0%, 50% 100%);
}

#triangleSmall1Right {
  top: 394px;
  left: 520px;
  height: 96px;
  width: 96px;
  clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}

#triangleSmall2Right {
  top: 518px;
  left: 532px;
  height: 96px;
  width: 96px;
  clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}

#triangleMiddleRight {
  top: 88px;
  left: 646px;
  height: 138px;
  width: 138px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

#triangleBig1Right {
  top: 225px;
  left: 594px;
  height: 190px;
  width: 190px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

#triangleBig2Right {
  top: 226px;
  left: 507px;
  height: 139px;
  width: 276px;
  clip-path: polygon(101% 0, 0 0, 50% 100%);
}
