/*** MAIN ***/
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.flexContainer {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position:relative;
}

/*** LEFT ***/
.selectable {
  background: black;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

#square {
  top: 501px;
  left: 500px;
  height: 96px;
  width: 96px;
}

#parallelogram {
  top: 413px;
  left: 892px;
  height: 206px;
  width: 68px;
  clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 67%);
}

#triangleSmall1 {
  top: 222px;
  left: 138px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2 {
  top: 150px;
  left: 835px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddle {
  top: 432px;
  left: 58px;
  height: 96px;
  width: 192px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1 {
  top: 313px;
  left: 932px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2 {
  top: 106px;
  left: 309px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

/*** RIGHT ***/
.destination {
  background: Gainsboro;
  display: inline-flex;
  position: absolute;
}

#squareRight{
  top: 336px;
  left: 798px;
  height: 96px;
  width: 96px;
}

#parallelogramRight {
  top: 59px;
  left: 678px;
  height: 182px;
  width: 120px;
  clip-path: polygon(0% 0%, 71% 27%, 100% 100%, 30% 74%);
}

#triangleSmall1Right {
  top: 241px;
  left: 798px;
  height: 96px;
  width: 96px;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
}

#triangleSmall2Right {
  top: 377px;
  left: 649px;
  height: 96px;
  width: 96px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

#triangleMiddleRight {
  top: 309px;
  left: 353.5px;
  height: 186px;
  width: 117px;
  clip-path: polygon(0% 0%, 43% 100%, 100% 36%)
}

#triangleBig1Right {
  top: 241px;
  left: 470px;
  height: 135.68px;
  width: 276px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2Right {
  top: 241px;
  left: 607px;
  height: 190.68px;
  width: 192px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
